<app-header></app-header>

<div id="container" class="w-75 rounded shadow mx-auto">
    <h1 class="text-center">Hospital Name</h1>
    <h3 class="text-center">Register Room</h3>

    <div class="text-center">
        <div id="hospital-img-container" class="w-25 mx-auto">
            <div id="room-img-container">
                <img id="room-image" [src]="imagePath" class="shadow rounded" alt="hospital room image">
            </div>
        </div>
    </div>

    <!-- FORM -->
    <form class="w-75 mb-2 mx-auto">
        <div class="form-group row">
            <label for="room-code" class="col-sm-2 col-form-label">Room Code</label>
            <div class="col-sm-10">
                <input type="text" [value]="roomData.roomCode" readonly class="form-control-plaintext" id="room-code">
            </div>
        </div>
        <div class="form-group row">
            <label for="room-name" class="col-sm-2 col-form-label">Room Name</label>
            <div class="col-sm-10">
                <input type="text" [value]="roomData.roomName" readonly class="form-control-plaintext" id="room-name">
            </div>
        </div>
        <div class="form-group row">
            <label for="room-description" class="col-sm-2 col-form-label">Room Description</label>
            <div class="col-sm-10">
                <input type="text" [value]="roomData.description" readonly class="form-control-plaintext" id="room-description">
            </div>
        </div>
        <div class="form-group row mx-auto">
            <button (click)="back()" type="button" class="btn btn-primary m-2">Back</button>
            <button type="submit" class="btn btn-primary m-2" (click)="submit()">Submit</button>
        </div>
    </form>
</div>