<app-header></app-header>

<div style="text-align:center">
    <h1>Hospital Name</h1>
    <h4>List of Rooms</h4>

    <nav id="room-filter" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <label for="room-code">Room Code: </label>
                <input name="roomCode" class="ml-2 form-control mr-sm-2" type="search" [(ngModel)]="roomCode">
                <label for="room-name">Room Name: </label>
                <input name="roomName" class="ml-2 form-control mr-sm-2" type="search" [(ngModel)]="roomName">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="clear()">Clear</button>
            </form>
        </div>
    </nav>

    <div class="text-left">
        <button routerLink="/hospital_rooms/add" class="ml-2 btn btn-outline-success my-2 my-sm-0" type="button">Add</button>
    </div>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Room Code</th>
                <th scope="col">Room Name</th>
                <th scope="col">Created By</th>
                <th scope="col">Updated By</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="roomList.data.length > 0">
            <tr *ngFor="let room of roomList.data | paginate: config">
                <th scope="row">{{room.roomCode}}</th>
                <td>{{room.roomName}}</td>
                <td>{{room.createdBy}}</td>
                <td>{{room.updatedBy}}</td>
                <td>
                    <button (click)="open(room)" type="button" class="btn btn-danger">Delete</button>
                    <button routerLink="/hospital_rooms/details/{{room.id}}" type="button" class="ml-2 mr-2 btn btn-info">View</button>
                    <button routerLink="/hospital_rooms/edit/{{room.id}}" type="button" class="btn btn-warning">Edit</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="roomList.data.length == 0">
            <tr>
                <td class="text-red" colspan="5">No data available</td>
            </tr>
        </tbody>
    </table>

</div>