<div class="navbar">
    <a class="active" routerLink="/">Home</a>
    <a routerLink="/doctors">Doctors</a>
    <a routerLink="/appointments">Appointments</a>
    <a routerLink="/reservations">Reservations</a>
    <div class="dropdown">
        <!-- Display only if user is logged in -->
        <button class="dropbtn">Username
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#messages">Messages</a>
            <a href="#notifications">Notifications</a>
            <a href="#settings">Account Settings</a>
            <a href="#logout">Logout</a>
        </div>
        <!-- Display if user is not logged in -->
        <a routerLink="/users/login">Login</a>
    </div>
</div>

<div class="wrap-login100">

    <span class="login100-form-title p-b-43">
        Hospital Name
    </span>
</div>

<div class="image-gallery">
    <ul>
        <li>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <img src='assets/images/1.jpg' />
        </li>

        <li>
            <span>Cras suscipit tempus mi, sed commodo urna aliquam sed.</span>
            <img src='assets/images/2.jpg' />
        </li>

        <li>
            <span>Cras suscipit tempus mi, sed commodo urna aliquam sed.</span>
            <img src='assets/images/3.jpg' />
        </li>

        <li>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <img src='assets/images/4.jpg' />
        </li>

        <li>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <img src='assets/images/5.jpg' />
        </li>

        <li>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <img src='assets/images/bg-01.jpg' />
        </li>
        <li>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <img src='assets/images/6.jpg' />
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="board-of-directors">
        <h3>Board of Directors</h3>

        <div class="card-row">
            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Anne Lee</p>
                    <p>Chief Executive</p>
                </div>
            </div>

            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Jean Doe</p>
                    <p>Medical Director</p>
                </div>
            </div>

            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Kenneth Anderson</p>
                    <p>Director of Nursing</p>
                </div>
            </div>

            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Lyla Smith</p>
                    <p>Director of Finance</p>
                </div>
            </div>

            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Anne Lee</p>
                    <p>Chief Executive</p>
                </div>
            </div>

            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Jean Doe</p>
                    <p>Medical Director</p>
                </div>
            </div>

            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Kenneth Anderson</p>
                    <p>Director of Nursing</p>
                </div>
            </div>

            <div class="card-column">
                <div class="card">
                    <img src="assets/images/img_avatar.png" alt="Avatar" style="width:100%">
                    <p>Lyla Smith</p>
                    <p>Director of Finance</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us">
        <h3>About Us</h3>

        <p>
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
            Mauris aliquet orci id purus molestie mollis. Etiam lobortis convallis ex vitae suscipit. Nam rhoncus lorem
            leo, quis tincidunt mauris congue in.
            Nullam in rhoncus urna, nec fermentum risus. Donec viverra lorem ex, ac varius augue fringilla ac. Ut ac
            orci ac justo tincidunt fringilla.
            Phasellus mattis vel massa at gravida.
        </p>

    </div>

</div>

<div class="footer">
    <section id="lab_social_icon_footer">
        <div class="text-center center-block">
            <a href="https://www.facebook.com/bootsnipp"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </section>
</div>