<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                  Hospital Name
                  <br>
                    Register
                </span>


                <div class="alert-message">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Invalid details
                  </div>
                
                
                <div class="wrap-input100 validate-input" data-validate = "First Name is required">
                    <input class="input100" type="text" name="fname">
                    <span class="focus-input100"></span>
                    <span class="label-input100">First Name</span>
                </div>
                
                <div class="error-message">
                      <span>Required Field</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Last Name is required">
                    <input class="input100" type="text" name="lname">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Last Name</span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Email is required">
                    <input class="input100" type="email" name="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email Address</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Mobile no. is required">
                    <input class="input100" type="number" name="mobile">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Mobile No.</span>
                </div>
        
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Confirm Password is required">
                    <input class="input100" type="password" name="confirm password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Confirm Password</span>
                </div>
                
                <div class="wrap-input100">
                    <input class="input100" type="text" name="code">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Hospital Code</span>
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">Terms of Agreement</span>
                </div>
                
                <div class="terms-of-agreement">
                    <textarea class="form-control no-gray" id="terms" rows="5" readonly="readonly">
                       Terms of Agreement Content  
                    </textarea>

                                        
                </div>

                <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>


                <div class="container-register100-form-btn">
                    <button class="login100-form-btn">
                        REGISTER
                    </button>
                </div>
                
                <div class="text-center p-t-46 p-b-20">
                    <div>
                        <a href="#register" class="txt1">
                            GO BACK TO LOGIN 
                        </a>
                    </div>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');">
            </div>
        </div>
    </div>
</div>